@font-face {
    font-family: "IRANSansWeb(FaNum)";
    src: url("../fonts/IRANSansWeb\(FaNum\).ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "IRANSansWeb(FaNum)";
    src: url("../fonts/IRANSansWeb\(FaNum\)_Bold.ttf") format("truetype");
    font-weight: bold;
}

* {
    box-sizing: border-box;
    color: #333;
    font-family: "IRANSansWeb(FaNum)", Arial, Helvetica, Sans-Serif;

}

body {
    font-family: "IRANSansWeb(FaNum)", Arial, Helvetica, Sans-Serif;
    margin: 0;
    direction: rtl;

}

.container {
    width: 100%;
    padding: 0 60px;
}


.col_4 {

    width: 25%;
    height: auto;
    float: right;
    padding: 15px;


}

.drop_down_icon {
    width: 10px;
    height: 10px;
    background: url('../img/icons/drop-down-icon.svg') center no-repeat;
    background-size: cover;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
}

.header_icon {
    width: 12px;
    height: 12px;
    background-size: cover !important;
    margin-left: 3px;
    display: inline-block;
    cursor: pointer;
}

.clearfix {
    clear: both;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 65px;
    background-color: #ffff;
    box-shadow: 0px 1px 2px #bbb;
    position: sticky;
    top: 0;

}

.hamber_menu {
    background-color: transparent;
    border: none;
    display: none;
    margin: 20px 0;
    outline: none;
    cursor: pointer;
}

.header_logo {
    float: right;
    padding-top: 5px;
}

.header_logo img {
    width: 50px;
    height: auto;

}

.header_nav {
    float: right;
    margin-right: 30px;
}

.header_nav>li {
    display: inline-block;
    padding: 20px 10px;
    float: right;
    position: relative;
}

.header_nav li span {
    cursor: pointer;
}

.login_btn {
    background-color: #0080ff;
    color: #fff;
    border: none;
    padding: 9px 11px;
    margin: 16px 0;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    float: left;
}

.drop_down_menu {
    position: absolute;
    background-color: #fff;
    width: 150px;
    height: auto;
    top: 100%;
    right: 0;
    box-shadow: 0px 2px 3px #777;
}

.drop_down .drop_down_menu{
    display: none;
}
.drop_down:hover .drop_down_menu{
    display: block;
}

.drop_down_menu li {
    font-size: 16px;
    padding: 10px;
} 

.drop_down_menu li a {
    display: block;
}

.drop_down_menu li:hover {
    background-color: #eee
}

/* page intro */

.page_intro {
    width: 100%;
    height: auto;
    background: rgb(0, 232, 255);
    background: linear-gradient(90deg, rgba(0, 232, 255, 1) 0%, rgba(3, 126, 255, 1) 110%);
    padding: 50px 0;

}

.page_intro_right {
    width: 50%;
    height: auto;
    float: right;
    text-align: right;

}

.page_intro_right h1 {
    color: #fff;
    font-size: 70px;
}

.page_intro_right_btns {
    margin: 0 auto;
    width: 300px;
}


.page_intro_right_btn {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    width: 131px;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
    float: right;
    margin-left: 8px;
}

.page_intro_left {
    width: 50%;
    height: auto;
    float: right;

}

.page_intro_left img {
    width: 100%;
    height: auto;
}

.new_post_card {
    width: 100%;
    height: 350px;
    box-shadow: 0px 2px 3px #bbb;
    background-color: #fff
}

.new_post_pic {
    width: 100%;
    height: 250px;
}

.new_post_pic img {
    width: 100%;
    height: 100%;
}

.new_post_body {
    padding: 10px;

}

.new_post_title {
    margin: 0;
    float: right;
    font-weight: 400;
    font-size: 18px;
}

.new_post_price {
    margin: 0;
    float: left;
    color: #777;
    font-size: 14px;
    text-decoration: line-through;
}

.new_post_description {
    margin: 0;
    float: right;
    font-size: 16px;
}

.new_post_price_off {
    margin: 0;
    float: left;
    font-size: 16px;
}

.home_ad {
    padding-top: 40px;
}

.home_ad_right {
    width: 75%;
    height: 300px;
    float: right;
    padding: 15px;
}

.home_ad_right img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.home_ad_left {
    width: 25%;
    height: 300px;
    float: left;
    padding: 15px;

}

.home_ad_left img {
    width: 100%;
    height: 100%;
    border-radius: 3px;

}

.most_sales {
    background-color: #D9F1FF;
    padding: 10px 0;
}

.most_sales_item {
    float: right;
    width: calc(100% / 3);
    height: auto;
    padding: 45px;
}

.why_us {
    padding: 30px 0;
}

.why_us_card {
    width: 100%;
    height: auto;
    text-align: center;
}

.why_us_card img {
    width: 40%;
    height: auto;
    margin-bottom: 20px;

}

.why_us_card h4 {
    font-weight: 400;
    font-size: 18px;

}

.why_us_card p {
    font-size: 16px;
    color: #777
}

/* footer */

.main_footer {
    width: 100%;
    height: auto;
    background-color: #333;
    padding: 20px 0;
}

.main_footer hr {
    border-color: rgb(89, 86, 86);
}


.main_footer_f_l {
    width: 30%;
    height: auto;
    float: right;
    padding: 15px;
}

.main_footer_mid {
    width: 20%;
    height: auto;
    float: right;
    padding: 15px;
}

.main_footer_card h4 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.main_footer_card p {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}

.main_footer_card ul li a {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}

.main_footer_card ul li {
    margin-bottom: 3px;
}

.main_footer_card_namad img {
    width: 100px;
    height: 100px;
}

.under_footer {
    padding-top: 20px;

}

.under_footer p {
    text-align: right;
    color: #fff;
    display: inline-block;
}

.footer_social_item {
    float: left;
}

.footer_social_item img {
    width: 40px;
    height: 40px;
    margin-right: 3px;
}


@media screen and (max-width:1150px) {

    .container {
        padding: 0 200px;
    }

    .home_ad_left {
        display: none;
    }

    .home_ad_right {
        width: 100%;
    }

    .most_sales_item {
        width: 50%;
    }

    .col_4 {
        width: 50%;
    }

    .main_footer_f_l {
        width: 50%;

    }

    .main_footer_mid {
        width: 50%;

    }

    .page_intro_left {
        display: none;
    }

    .page_intro_right {

        width: 100%;
        text-align: center;

    }



}

@media screen and (max-width:950px) {

    .container {
        padding: 0 60px;
    }

    .home_ad_left {
        display: block;
    }

    .col_4 {
        width: 50%;
    }

    .main_footer_f_l {
        width: 50%;

    }

    .main_footer_mid {
        width: 50%;

    }

    .page_intro_left {
        display: none;
    }

    .page_intro_right {

        width: 100%;
        text-align: center;

    }


}

@media screen and (max-width:650px) {

    .most_sales_item {
        width: 100%;
    }

    .home_ad_left {
        width: 100%;
    }

    .header nav {
        display: none;
    }

    .container {
        padding: 0 20px;
    }

    .hamber_menu {
        display: inline-block;
        margin: 20px 0;
    }

    .header_logo {
        display: none;
    }

    .col_4 {
        width: 100%;
    }

    .main_footer_f_l {
        width: 100%;

    }

    .main_footer_mid {
        width: 100%;

    }

    .page_intro_left {
        display: none;
    }

    .page_intro_right {

        width: 100%;
        text-align: center;

    }

}